*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
    overflow: hidden;
}
body{
    animation: shake linear .5s infinite;
}
.sky{
    height: 60vw;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
    overflow: hidden;

}
.trees img{
    height: 40vw;
    width: 100%;
    position:absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    top: -3vw;
}
.track img{
    height: 20vw;
    width: 800vw;
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    top: 37vw;
    animation: road linear 5s infinite;
}
.car{
    height: 93px;
    width: 332px;
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    overflow: hidden;
  top: 35vw;
    left: 200px;
    animation: shake linear .5s infinite;
}
.wheel1 img{
    height: 65px;
    left: 41px;
    top: 35px;
     position: absolute;
   animation: wheelrotate linear .11s infinite;
}
.wheel2 img{
    height: 60px;
    left: 208px;
    top: 35px;
    position: absolute;
    animation: wheelrotate linear .10s infinite;
}
@keyframes wheelrotate {
    
    100%{
        transform: rotate(360deg);
    }
}

@keyframes road {
    
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake{
    
    0%{
        transform: translateY(-5px);
    }
   50%{
        transform: translateY(5px);
    } 
    100%{
        transform: translateY(-5px);
    }
}
@media screen and (max-width:1000px){
    .sky{
        height: 50vh;
        width: 100%;
    }
    .trees img{
        height: 55vh;
    width: 100%;

    }
    .car{
        height: 60px;
    width: 200px;
        top: 50vh;
        left: 0;
    }
    .track img{
        top: 50vh;
        height: 50vh;
    }
    .wheel1 img{
        height: 42px;
    left: 22px;
    top: 22px;
    }
    .wheel2 img{
        height: 41px;
    left: 130px;
    top: 22px;
    }
    
}